<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="eBanking">

	<listeners>
		<listener class-name="com.eBanking.utilities.Reporting" />
	</listeners>


	<test name="BankingApp Test">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.eBanking.testCases.TC_001_LoginTest"/>
			<class name="com.eBanking.testCases.TC_002_LoginDDTest"/> 
			<class name="com.eBanking.testCases.TC_003_AddNewCustomerTest"/> 
		</classes>
	</test>
</suite>